<div container="col-md-10 col-md-offset-1">
  <div class="row">
    <button class="btn btn-default pull-left"><a href="" ng-href="/">Back to Lobby</a></button>
    <div class="text-center" id="show-video">
      <input type="text" ng-model="data.videoID" placeholder="Enter youtube id" />
      <button ng-click="loadVideo(url)" class="btn btn-default">Load Video</button></a>
    </div>
    <button class="btn btn-default pull-right" ng-click="login()">Create an Anonymous Account</button>
    <p ng-if="authData">Logged in user: <strong>{{ authData.uid }}</strong></p>
    <p ng-if="error">Error: <strong>{{ error }}</strong></p>
  </div>
    <!-- anything typed in here is magically saved to our Firebase database! -->
    <!-- <div ng-repeat="(key, room) in data"> -->
    <!-- all changes from our Firebase database magically appear here! -->
  <div class="section" id="video-area">
    <div class="col-md-6">
      <div class="row">
      <strong>Enter youtube link: </strong>
      <br>
        <input id="url" type="text" value="" class="form-control"/>
        <button id="load-video" ng-click="loadVideo(url)">Load Video</button>
      </div>
      <div class="row">
        <div id="player"></div>
      </div>
    </div>
  </div>
      <!-- The <iframe> (and video player) will replace this <div> tag. -->
      <!-- <iframe id="player" type="text/html" width="640" height="390"
        src="http://www.youtube.com/embed/M7lc1UVf-VE?enablejsapi=1&origin=http://example.com"
        frameborder="0"></iframe> -->
  <div class="section" id="chat-area">
    <div class="col-md-4 pull-right">
      <div class="panel panel-default">
        <div class="panel-heading">Chat</div>
          <p ng-repeat="message in messages">
            <strong>{{message.username}}: {{message.text}}
            <hr>
          </p>
      </div>
      <div class="chat-box">
        <form ng-submit="addMessage(messages)">
          <input ng-model="name" placeholder="Enter a username..." class="form-control">
          <input ng-model="newMessageText" placeholder="Say something..." class="form-control"/>
          <button type="submit" class="btn btn-small btn-default">Send</button>
        </form>
      </div>
    </div>
  </div>
</div>
