<div class="jumbotron">
  <div class="container text-center">
    <h1>Welcome to wewatch!</h1>
    <p>Watch videos with your friends all synchronized at the same time!</p>
  </div>
</div>

<div class="col-md-6 col-md-offset-3">
  <input id="room-name" type="text" value="" class="form-control"/>
  <a href="" ng-href="/room/{{key}}"><button ng-click="enterRoom()" class="btn btn-default">Create a Room</button></a>
  <a href="" ng-href="/room/{{key}}"><button ng-click="enterRoom()" class="btn btn-default">Join a Room</button></a>

  <strong>Room name: </strong>

  <div ng-repeat="(key, room) in data">
    <a href="" ng-href="/room/{{key}}">{{room.roomName}}</a>
    {{key}}
  </div>
</div>
