<div class="jumbotron">
  <div class="container text-center">
    <h1>Welcome to videoShare!</h1>
    <p>Watch videos with your friends all synchronized at the same time!</p>
  </div>
</div>

<div class="container">
  <div class="row col-md-10 col-md-offset-1">
  <div class="col-md-6 col-xs-12">
    <input id="room-name" type="text" value="" class="form-control" placeholder="Type in a room..."/>
    <a href="" ng-href="/room/{{key}}"><button ng-click="enterRoom()" class="btn btn-default">Create a Room</button></a>
    <a href="" ng-href="/room/{{key}}"><button ng-click="enterRoom()" class="btn btn-default">Join a Room</button></a>
  </div>
  <div class="col-md-4 col-xs-12 pull-right">
    <div class="panel panel-default">
      <div class="panel-heading">Available Rooms</div>
        <div class="panel-body">
          <div ng-repeat="(key, room) in data">
            <a href="" ng-href="/room/{{key}}">{{room.roomName}}</a>
          </div>
        </div>
      </div>
    </div>
</div>
